//design is for desktop screen above 1440px
// DESKTOP
@media (min-width: 700px) {
    .main-app {
        .options-container {
            grid-template-areas:
                "option option"
                "option option";
        }
    }
}

// MOBILE
@media (max-width: 700px) and (min-width: 0px) {
    .main-app {
        .options-container {
            grid-template-areas:
                "option"
                "option"
                "option"
                "option";
        }
    }

    .productive {
        display: flex;
        flex-direction: column;
        .productive-img {
            width: 615px;
            height: 464px;
            img {
                width: 100%;
            }
        }
        .productive-text {
            justify-content: center;
            padding: 40px;
            font-size: toRem(16);
            .title {
                font-size: 40px;
                font-weight: 700;
            }
        }
    }
}
