.app-header {
margin: 73px 80px;
    .logo {
        width: 176px;
        height: 52px;
        img {
            object-fit: contain;
            width: 100%;
        }
    }

    .nav-list{
        font-family: 'Raleway', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        li {
            padding: 57px;
        }

    }
}