// - Dark Blue (intro and email sign up background): hsl(217, 28%, 15%)
// - Dark Blue (main background): hsl(218, 28%, 13%)
// - Dark Blue (footer background): hsl(216, 53%, 9%)
// - Dark Blue (testimonials background): hsl(219, 30%, 18%)


$clr1: hsl(218, 28%, 13%); //main background
$clr2: hsl(217,28%,15%); //intro and email sign up background 
$clr3: hsl(216, 53%, 9%); // footer background
$clr4: hsl(219,30%,18%); //testimonial background
$clr5: hsl(176, 68%, 64%);
$clr6: hsl(198, 60%, 50%);


// $clr5: #676879; /* workspace title */
// $clr6: #c3c3c3; /* bgc task preview */
// $clr7: #dcdfec; /* button hover */
// $clr8: #fff;
// $clr9: #323338; /* primary text-color */
// $clr10: #f5f6f8; /* task preview bgc */
// $clr11: #c5c7d0; /* bgc edit btn on task preview */
// $clr12: #d0d4e4; /* right indicator bgc in task preview */
// $clr13: #cce5ff; /* focus on task preview bgc */
// $clr14: rgb(87, 155, 252); /* default group color */
// $clr15: #0073ea; /* new task btn bgc */
// $clr16: #0085ff; /* chat icon hover color */
// $clr17: #f279f2; /* workspace M icon color */
// $clr18: #e6e9ef; /* layout border color spacer */

// // status label colors
// $stClrWorking: #fda83d;
// $stClrDone: #00c875;
// $stClrHold: #ff5ac4;
// $stClrStuck: #e2445c;
// $stClrEmpty: #c4c4c4;

// //logo colors
// $monRed: #f62b54;
// $monYellow: #ffcc00;
// $monGreen: #00ca72;

// // header colors
// $ClrHover: #dcdfec;

// // group colors
// $clrG1: #579bfc;
// $clrG2: #a25ddc;
// $clrG3: #9cd326;
